.resume2d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.resume2d__unity,
.loading-overlay {
  width: 800px;

  @media screen and (max-width: 810px) {
    width: calc(100vw - 50px);
  }

  @media screen and (max-width: 400px) {
    width: 100vw;
  }
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  color: #fff;

  .progress-bar {
    width: calc(100% - 20px);
    height: 20px;
    margin: 10px;
    background-color: #fff;

    > div {
      height: 20px;
      background-color: #7c0000;
    }
  }
}
